<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>DecentWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>/indexPage</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>indexPage</servlet-name>
		<servlet-class>com.decent.web.servlet.IndexPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexPage</servlet-name>
		<url-pattern>/indexPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>jsonPage</servlet-name>
		<servlet-class>com.decent.web.servlet.JsonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jsonPage</servlet-name>
		<url-pattern>/jsonPage</url-pattern>
	</servlet-mapping>
</web-app>