<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.decentsoft.DecentLaunchMode"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.decent.decentlaunchmode.action.ActivityA"
            android:launchMode="standard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.decent.decentlaunchmode.action.ActivityB"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.decent.decentlaunchmode.action.ActivityC"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.decent.decentlaunchmode.action.ActivityD"
            android:launchMode="singleInstance" >
        </activity>
    </application>

</manifest>