<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.launch_mode_work"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name="com.tz.launch.work.activity.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.tz.launch.work.activity.SecondActivitySingle"
            	android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.singleInstance.secondActivity" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.tz.launch.work.activity.ThirdActivity" />
        
        <activity android:name="com.tz.launch.work.activity.FourthActivitySingle"
            	android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.singleInstance.FourthActivity"/>
                <category android:name=""/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.tz.launch.work.activity.FifthActivity" />
        
    </application>

</manifest>
