<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zht.orderboradcast"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".FirstBroadcastReceiver" >
            <intent-filter android:priority="1000">
                <action android:name="com.zht.order.broadcast" />
            </intent-filter>
        </receiver>
        <receiver android:name=".SecondBroadcastReceiver" >
            <intent-filter android:priority="500">
                <action android:name="com.zht.order.broadcast" />
            </intent-filter>
        </receiver>
    </application>

</manifest>