<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tz.activitys"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- action启动界面为Main，category桌面应用 -->
        <activity
            android:name="com.tz.activitys.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- action name可以指定多个别名，category name也可以有多个,实际中根据需要有一个就可以了 -->
        <activity android:name=".OtherActivity" >
            <intent-filter>
                <action android:name="tz.intent.action.normal" />
                <action android:name="tz.intent.action.normal_1" />
                <action android:name="tz.intent.action.normal_2" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
    </application>

</manifest>